@model List<string> 

<div>
    @foreach (string line in Model)
    {
      <ul style=" list-style-type:none;"> 
          <li>
              @line 

          </li>

      </ul>  
    }
    <div>
        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                              
 </div>

Tak for din bestilling. 