<div>
	<form action ="/Home/Bekræftbestilling" metode="get" >
		<label for="KNavn">Navn:</label>
		<input type="text" id="Navn" name="KNavn" value=" Blabla" required/>
		<label for="KMail">Email:</label>
		<input type="email" id="Mail" name="KMail" value=" blabla@mail.dk" required/>
		<label for="KTlf">Telefonnummer:</label>
		<input type="number" id="TelefonNummer" name="KTlf" value=" 1234" required/>

		<input type="submit" value="Submit" />
	</form>
</div>
