<div>
	<form action ="/Home/Bekræftbestilling" metode="get">
		<label for="KNavn">Navn:</label>
		<input type="text" id="Navn" name="KNavn" value=" Blabla"/>
		<label for="KMail">Email:</label>
		<input type="text" id="Mail" name="KMail" value=" blabla@mail.dk" />
		<label for="KTlf">Telefonnummer:</label>
		<input type="text" id="TelefonNummer" name="KTlf" value=" 1234" />

		<input type="submit" value="Submit" />
	</form>
</div>
