html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: linear-gradient(to bottom, aliceblue, white);
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.card-columns .card:hover .card-img {
    opacity:1;
}

.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
    transition: 0.5s ease;
}

.card-columns {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.card-columns::-webkit-scrollbar {
    display: none;
}

.card-title {
    width: 80%;
    height: auto;
    color:seagreen;
    font: bold 26px calibri;
    text-shadow: 1px 1px 1px darkgray;
}

.card-info{
    margin:-10px;
}

.card-details {
    opacity:0.5;
}

.card-img img{
    margin-top: 15px;
    width: 100%;
    height: auto;
}

.card-body button {
    position:absolute;
    top: 10%;
    right: 5%;

    background-color:seagreen;
    color:white;
    border-radius: 5px;
    border:none;
}

.Kurv-item {
    
}

.Kurv-img {
    
    position: absolute;
    left: 30%;
}

.Title {
    position: absolute;
    left: 40%;
}


.Pris {
    position: absolute;
    left: 60%
}

.Antal {
    position: relative;
    left: 23%
}

.plusbtn {
    background-color: seagreen;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 10px;
    
}
.minbtn {
    background-color: seagreen;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 10px;
}
.bestil-btn {
    position: absolute;
    left: 69%;
    background-color: seagreen;
    color: white;
    border-radius: 5px;
    border: none;
}

.historik-container {
    border: 2px solid;
    border-radius:5px;
    border-color:darkolivegreen;
    opacity:0.6;
    margin: 5px;
    background-color:white;
}

.historik-container:hover {
    opacity:1;
}

.historik-id {
    margin-left:5px;
    text-align:left;
}

.historik-dato {
    text-align:left;    
}

.historik-navn{
    text-align:right;
    margin-right:10px;
}

.historik-mail {
    text-align:right;
    margin-right:10px;
}

.ordre-container {
     border: 2px solid darkgray;
}

.ordre-id {
    margin-left:10px;
    text-align:left;
}

.ordre-dato {
    text-align:left;
}

.ordre-navn {
    text-align:left;
}

.ordre-mail {
    text-align:left;
}

.ordre-telefon {
    margin-right: 10px;
    text-align:right;
}

.ospil-container {
    border: 2px solid darkgray;
    background-color:rgba(180, 180, 180, 0.4);
    margin:5px 0px 5px 0px;
}

.ospil-navn {
    text-align:left;
    margin-left:5px;
}

.ospil-id {
    text-align:left;
}

.ospil-pris {
    text-align:left;
}

.ospil-kategori {
    text-align:left;
}

.ospil-antal {
    text-align:right;
    margin-right:5px;
}
.searchbtn {
    background-color: seagreen;
    color: white;
    border-radius: 5px;
    border: none;
}
/* test kode fra ASP.NET tutorial */
/*
.card-columns .card:hover .card-img {
    opacity: 1;
}

.card-columns .card-body {
    height: 100px;
    font-family: 'Nunito', sans-serif;
    background: #fbfafd;
}

.card-columns .card-img {
    height: 330px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    /*background-repeat: no-repeat; /* Do not repeat the image */
    /*background-size: cover; /* Resize the background image to cover the entire container */
    /*opacity: .8;
}

.modal .card-img {
    height: 500px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    /* background-repeat: no-repeat; /* Do not repeat the image */
    /*background-size: cover; /* Resize the background image to cover the entire container */
/*
}
.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}
    */
