html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.card-img{
    height: 100px;
}


/* test kode fra ASP.NET tutorial */
/*
.card-columns .card:hover .card-img {
    opacity: 1;
}

.card-columns .card-body {
    height: 100px;
    font-family: 'Nunito', sans-serif;
    background: #fbfafd;
}

.card-columns .card-img {
    height: 330px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    /*background-repeat: no-repeat; /* Do not repeat the image */
    /*background-size: cover; /* Resize the background image to cover the entire container */
    /*opacity: .8;
}

.modal .card-img {
    height: 500px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    /* background-repeat: no-repeat; /* Do not repeat the image */
    /*background-size: cover; /* Resize the background image to cover the entire container */
/*
}
.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}
    */
